body{
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
}

a:hover,a:active{
    color: #125064 !important;
    border-color: #125064 !important;
}

li{
    list-style-type: none;
    padding: 10px;
}

li a{
    color: #000 !important;
}

li a:hover{
    color: #1D84A5 !important;
}

li a:focus{
    color: #1D84A5 !important;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: #125064 !important;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

#back-to-top.show {
    opacity: 1;
}

.navbar{
}

.navbar.bg-light{
    background-color: #fff !important;
    box-shadow: 0px 2px 3px -2px #333 !important
}

.navbar-nav{
    margin: auto !important;
}

.btn{
    border-radius: 0 !important;
}

.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,1) !important;
    background-color: #1D84A5 !important;
}

.btn-primary:hover{
    background-color: #1D84A5 !important;
    color: #fff !important;
}

.btn-primary{
    background-color: transparent !important;
    border-color: #fff !important;
}

.apresentacao{

    min-height: 800px;
    background-image: url('../images/techgif.gif');
    
    /*Efeito parallax simples*/ 
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.efeito-gif{
    padding-top: 250px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 800px;
    color: #fff;
}

.efeito-gif p{
    font-size: 45px;
    font-family: 'Baloo Paaji', cursive;
}

.servicos{
    padding-bottom: 100px;
}

.servicos h1{
    padding-top: 100px;
}

.servicos p{
  font-size: 15px;
}

.desenvolvimento{
    color: #fff;
    background-color: #0057a4;
    padding-bottom: 100px;
}

.desenvolvimento h1{
    padding-top: 100px;
}

.cases{
    padding-bottom: 100px;
}

.cases h1{
    padding-top: 100px;
}

.counter span{
    font-size: 30px;
}

.sobre{
    padding-bottom: 100px;
    color: #fff;
    font-size: 20px;
    background-color: #0057a4;

}

.parceiros{
    padding-bottom: 100px;
}

.parceiros h1{
    padding-top: 100px;
}

.sobre h1{
    padding-top: 100px;
}

.contato{
    padding-bottom: 100px;
}

.contato h1{
    padding-top: 100px;
}

footer{
    background-color: #001059;
}